<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header class="main-header">

        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" alt="logotipo" class="logo">
            <form action="/" method="post" class="box">
                <div class="container-1">
                    <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="search" id="search" name="Buscar" placeholder="Buscar productos, marcas" size="25">
                </div>
            </form>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="hamburguer-bottom">
            <i class="fas fa-bars"></i>
        </a>


        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tienda Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Crea tu cuenta</a>
                    <i class="fa-solid fa-address-card"></i>
                </li>
                <li><a href="/login">Ingresa</a>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li><a href="#">Mis compras</a>
                    <i class="fa-solid fa-basket-shopping"></i>
                </li>

            </ul>
        </nav>



    </header>

    <div class="banner-home">
        <img src="/images/img-home-banner.jpg" alt="Banner-principal">
    </div>
    <br>
    <br>
    <main class="register">

        <form action="/" method="POST">
            <div class="register-form">
                <input type="text" name="name" placeholder="Nombre y apellido">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="email" name="email" placeholder="E-mail">
                <br>
                <br>
                <br>
                <label for="birth_date"><b>Fecha de nacimiento</b></label>
                <br>
                <input type="date" name="birth_date" id="birth_date">
                <br>
                <input type="text" name="addres" placeholder="Domicilio">
                <br>
                <br>
                <br>
                <h4>Perfil del usuario</h4>
                <div class="profile">
                    <input type="radio" name="profile" value="buy" id="buy">
                    <label for="buy">Comprador</label>
                    <input type="radio" name="profile" value="sell" id="sell">
                    <label for="sell">Vendedor</label>
                </div>
                <br>
                <br>
                <br>

                <h4>Intereses</h4>
                <div class="interests">
                    <div>
                        <input type="checkbox" name="interests" value="a" id="a">
                        <label for="a">
                            Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="b" id="b"><label for="b">
                            Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="c" id="c"><label for="c">
                            Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="d" id="d"><label for="d">
                            Juguetería</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="e" id="e"><label for="e">
                            Vida sana</label>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <h4>Elegí tu foto de usuario</h4>
                <input type="file" name="avatar">
                <br>
                <br>
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
                <br>
                <br>
                <input type="submit" value="Enviar" class="bottom-form">
                <input type="reset" value="Borrar" class="bottom-form">
                <br>
                <br>
            </div>
        </form>
    </main>

    <footer>

        <section>
            <div class="footer-bottom">
                <div>
                    <i class="fa-solid fa-credit-card"></i>
                    <h3 class="titulares-footer">Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div>
                    <i class="fa-solid fa-gift"></i>
                    <h3 class="titulares-footer">Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div>
                    <i class="fa-solid fa-user-shield"></i>
                    <h3 class="titulares-footer">Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div>
                <br>
            </div>
            <h3><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></h3>
        </section>

    </footer>
</body>



</html>